body{
    margin: 0%;
}
nav{
    background-color: black;
    color: white;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    height: 9vh;
    align-items: center;
}
.IT{
    display: flex;
    align-items: center;
}
.fotito-superior{
    width: 6vw;
    height: 9vh;
}
.titulo{
    margin: 2vw;
    font-size: 1.5vw;
}
.parte-superior{
    display: inline-flex;
}
.lista{
    list-style: none;
    display: inline-flex;
    margin-right: 2vw;
}
.buscador{
    width: 20vw;
    height: 4.75vh;
    border-radius: 0.5vw;
    border-color: rgb(201, 201, 201);
    border-style: solid;
    border-width: 0.105vw;
    background-color: black;
}
::-webkit-input-placeholder { color: rgb(201, 201, 201); } /* WebKit */
::-moz-placeholder { color: rgb(201, 201, 201); } /* Firefox 19+ */
