<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet"
            href="{{url_for('static',filename='/css/style.css')}}">
        <script src="{{ url_for('static',filename='/js/app.js') }}"></script>
    </head>

    <body class="body2">
        <nav class="parte-superior">
            <div class="superior-top">
                <div class="IT">
                    <img class="fotito-superior"
                        src="{{ url_for('static',filename='/imgs/logo.png') }}">
                    <h1 class="titulo"><a
                            href="/">Ambito
                            Culinario</a></h1>
                </div>
                <div>
                    <ul class="listado-superior">
                        <li class="lista">
                            <form>
                                <input type="search" id="gsearch" name="gsearch"
                                    class="buscador"
                                    placeholder="  Buscar Productos...">
                            </form>
                        </li>
                        <li class="lista">
                            <p>Registro</p>
                        </li>
                        <li class="lista">
                            <p>Inicio</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="orden-img-info">
                <div>
                    <img
                        src="{{url_for('static',filename='/imgs/sartengris.png')}}">
                </div>
                <div class="informacion-producto">
                    <h1>    
                        STAHLTEK KITCHEN    MC<br>Sartén 28 cm Gris Granito
                    </h1>
                    <h3 class="precio">
                        $ 11.990
                    </h3>
                    <h3 class="especificaciones">
                        Especificaciones
                    </h3>
                    <div>
                        <ul>
                            <li>
                                Condicion del producto = Nuevo
                            </li>
                            <li>
                                Incluye = 1 sartén
                            </li>
                            <li>
                                Marca = stahltek kitchen
                            </li>
                            <li>
                                Formato = UN
                            </li>
                            <li>
                                Tipo de producto = Sartenes
                            </li>
                            <li>
                                Medidas Largo X Ancho X Alto = 28 cm x 6 cm
                            </li>
                            <li>
                                Advertencias De Uso = No dejar al alcance de los niños
                            </li>
                            <li>
                                Libre De Toxicos = Si
                            </li>
                            <li>
                                Pais De Origen = China
                            </li>
                            <li>
                                Beneficios De Uso =Excelentes resultados en la cocina. Reparte mucho mejor el calor y 
                                consigue que los alimentos se cocinen por igual en toda la superficie de cocción
                            </li>
                            <li>
                                Color = Gris Granito
                            </li>
                            <li>
                                Informacion Importante =Imagen ambientada corresponde a foto referencial, 
                                producto incluye 1 sartén
                            </li>
                        </ul>
                    </div>
                    <h3 class="I-A">
                        Informacion Adicional
                    </h3>
                    <p class="informacion-adicional">
                        Null 
                    </p>
                    <form>
                        <button class="Agregar-a-carrito" type="submit">Add to cart</button>
                    </form>
                </div>
            </div>
            <div>
                <h1 class="P-R">
                    Productos Relacionados
                </h1>
                <div>
                    <ul class="listado3">
                        <li>
                            <img src="{{url_for('static',filename='/imgs/set11.png')}}" class="producto__img">
                            <div class="productDescription">
                                <h3 class="produto__title"><a href="/AmbitoCulinario/templates/producto1.html">Set 11 Utensilios De<br>Cocina Antiadherentes <br>De Silicona</a></h3>
                                <span class="produto__price">$ 10.990</span>
                            </div>
                            <a href="#"><i class="produto__icon fas fa-cart-plus"></i></a>
                        </li>
                        <li>
                            <img src="{{url_for('static',filename='/imgs/peladorpapas.png')}}" class="producto__img">
                    <div class="productDescription">
                        <h3 class="produto__title"><a href="/AmbitoCulinario/templates/producto1.html">Pelador Horizontal Mango<br>Soft Gris Wurden</a>
                            1</a></h3>
                        <span class="produto__price">$ 4.990</span>
                    </div>
                            <a href="#"><i class="produto__icon fas fa-cart-plus"></i></a>
                        </li>
                        <li>
                            <img src="{{url_for('static',filename='/imgs/exprimidorlimones.png')}}" alt="Producto 1"
                                class="producto__img">
                            <div class="productDescription">
                                <h3 class="produto__title"><a href="/AmbitoCulinario/templates/producto2.html">Exprimidor Limones<br>Gris Wurden</a></h3>
                                <span class="produto__price">$$3.990</span>
                            </div>
                            <a href="#"><i class="produto__icon fas fa-cart-plus"></i></a>
                        </li>
                        <li>
                            <img src="{{url_for('static',filename='/imgs/micautensilios.png')}}" alt="Producto 1"
                        class="producto__img">
                    <div class="productDescription">
                        <h3 class="produto__title"><a href="/AmbitoCulinario/templates/producto.html">Utensilios de Cocina<br>Silicona Cherry 6 Piezas Mica</a></h3>
                        <span class="produto__price">$ 7.990</span>
                    </div>
                    <a href="#"><i class="produto__icon fas fa-cart-plus"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <footer class="footer2">
            <h1>sobre nosotros</h1>
        </footer>
    </body>

</html>