<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='/css/style.css') }}">
    <script src="{{ url_for('static',filename='/js/app.js') }}"></script>
</head>
<body>
    <div class="container">
        <h1>To Do App</h1>
        <div>
            <form>
            <input type="Agregar" id="site-search" name="q" />
            <button>Agregar</button>
            </form>
        </div>
        <div>
            <ul>
                <li>Tarea 1</li>
                <li>Tarea 2</li>
            </ul>
        </div>
    </div>
</body>
</html>