<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/AmbitoCulinario/static/css/style.css">
    <script href="{{ url_for('AmbitoCulinario',filename='/static/js/app.js') }}"></script>
</head>

<body>
    <nav class="parte-superior">
        <div class="IT">
            <img class="fotito-superior" src="/AmbitoCulinario/static/imgs/logo.png">
            <h1 class="titulo">Ambito Culinario</h1>
        </div>
        <div>
            <ul class="listado-superior">
                <li class="lista">
                    <form>
                        <input type="search" id="gsearch" name="gsearch" class="buscador"
                            placeholder="&#128269;  Buscar Productos...">
                    </form>
                </li>
                <li class="lista">
                    <p>Registro</p>
                </li>
                <li class="lista">
                    <p>Inicio</p>
                </li>
                <li class="lista">
                    <img src="" alt="carrito">
                </li>
                <li class="lista">
                    <img src="" alt="favorito">
                </li>
            </ul>
        </div>
    </nav>
    <div class="carrusel">
        <div class="carrusel-inner">
            <div class="carrusel-item active">
                <img src="/AmbitoCulinario/static/imgs/imagenotfound.jpg">
            </div>
            <div class="carrusel-item">
                <img src="/AmbitoCulinario/static/imgs/imagenotfound.jpg">
            </div>
            <div class="carrusel-item">
                <img src="/AmbitoCulinario/static/imgs/imagenotfound.jpg">
            </div>
        </div>
        <button class="carrusel-control prev" onclick="moveSlide(-1)">&#10094;</button>
        <button class="carrusel-control next" onclick="moveSlide(1)">&#10095;</button>
    </div>
    <section>
        <h1>
        </h1>
        <div>
            <ul>
                <li></li    >
                <li></li>
                <li></li>
                <li></li>
            </ul>
            <!--Repetir fila unas cuantas veces-->
        </div>
    </section>
    <article>

    </article>
    <footer>

    </footer>
</body>

</html>